[submodule "vendor/EGWWritings-Api"]
	path = vendor/EGWWritings-Api
	url = git@github.com:EGW-Alpha/EGWWritings-Api.git
[submodule "vendor/EGWWritings-PublicationManagement"]
	path = vendor/EGWWritings-PublicationManagement
	url = git@github.com:EGW-Alpha/EGWWritings-PublicationManagement.git
