@using MudBlazor.Utilities
@using ChatEgw.UI.Services
@inherits LayoutComponentBase
@inject TreeService TreeService

<PageTitle>EGWSearch</PageTitle>
<MudThemeProvider Theme="CustomTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout Class="d-flex">
    <MudAppBar Elevation="1">
        <span class="egw-logo">
            <img src="/logo.svg" alt="ChatEGW"/>
            <h1>Search</h1>
        </span>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((_) => DrawerToggle())"/>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Variant="DrawerVariant.Responsive" Class="drawer-container">
        <MudDrawerContainer Class="pt-4">
            <TreeFilter/>
            <MudDivider Class="mt-2"/>
        </MudDrawerContainer>
        <MudSpacer />
        <MudSwitch Class="mx-2 mb-5" @bind-Checked="@TreeService.EgwWritingsOnly">EGW Writings Only</MudSwitch>

    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    private static readonly MudColor PrimaryColor = new("#115B77");

    public readonly MudTheme CustomTheme = new()
    {
        Palette = new PaletteLight()
        {
            Primary = PrimaryColor,
            AppbarBackground = PrimaryColor
        },
        PaletteDark = new PaletteDark
        {
            Primary = PrimaryColor
        }
    };

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}